[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tflite-runtime = "*"
keras-image-helper = "*"
pillow = "*"
tensorflow = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
